---
import Layout from "@layouts/Layout.astro";
import Footer from "@layouts/Footer/index.astro";
import Container from "@components/Container/index.astro";
import Text from "@components/Text/index.astro";
import CountUp from "@components/CountUp";

import urlJoin from "url-join";

// TODO: mover isso talvez para um arquivo de configuração
const partnerships = [
  {
    url: "https://www.pipefy.com/pt-br/",
    image: "pipefy.png",
  },
  {
    url: "https://www.instagram.com/thefejasfactory/",
    image: "fejas.png",
  },
  {
    url: "https://www.moochacho.com.br/",
    image: "moochacho.png",
  },
  {
    url: "https://www.instagram.com/coxitosoficial/",
    image: "coxitos.png",
  },
  {
    url: "https://www.instagram.com/bolodasamigasfloripa/",
    image: "bolo-das-amigas.png",
  },
  {
    url: "https://www.instagram.com/mugelatofloripa",
    image: "mugelato.png",
  },
  {
    url: "https://www.instagram.com/inventochocolates",
    image: "invento.png",
  },
] as const;

type OurHit = {
  title: string;
  subtitle: string;
};
const ourHit: OurHit[] = [
  { title: "+24", subtitle: "aprovadas" },
  { title: "+825", subtitle: "horas aulas" },
  { title: "+196", subtitle: "vidas transformadas" },
  { title: "+40k", subtitle: "horas trabalhadas" },
  { title: "+31", subtitle: "horas de treinamento" },
];
const rowsSlice = [
  [0, 2],
  [2, ourHit.length + 1],
];

const buildImageUrl = (url: string) =>
  urlJoin(import.meta.env.ASSETS_BASE_URL, "parcerias", url);
---

<Layout title='Einstein Floripa'>
  <!-- Seção Nosso impacto -->
  <Container class='bg-primary py-14' align='center' justify='evenly'>
    <Text
      class='block w-min text-center tracking-tight text-white transform -rotate-90'
      size='super-title'
    >
      Nosso impacto
    </Text>
    <Container class='gap-10' direction='column'>
      {
        rowsSlice.map(([start, end]) => (
          <Container class='gap-10' justify='center' align='center'>
            {ourHit.slice(start, end).map(({ title, subtitle }, index, row) => {
              const isLast = index === row.length - 1;
              const preffix = title.slice(0, 1);
              const value = parseInt(title.slice(1));
              // Valida se é um número ou não, se não for, é adicionado como sufixo
              const suffix = Number(title.slice(-1))
                ? undefined
                : title.slice(-1);

              return (
                <Fragment>
                  <Container class='gap-2' direction='column' align='center'>
                    <Text class='text-white text-center' size='title'>
                      <CountUp
                        start={0}
                        end={value}
                        prefix={preffix}
                        suffix={suffix}
                        client:load
                      />
                    </Text>
                    <Text class='text-white font-normal text-2xl text-center'>
                      {subtitle}
                    </Text>
                  </Container>
                  {!isLast && <span class='bg-white w-[2px] self-stretch ' />}
                </Fragment>
              );
            })}
          </Container>
        ))
      }
    </Container>
  </Container>

  <!-- Seção Empresas parceiras -->
  <Container
    class='bg-blue-50 gap-10 py-10'
    direction='column'
    justify='center'
    align='center'
  >
    <Text class='text-center' size='title'>Empresas parceiras</Text>
    {
      /* TODO: trocar esse lg:flex-row para se tornar responsivo via propos talvez usando o tv, olhar: https://www.tailwind-variants.org/docs/getting-started#responsive-variants-usage */
    }
    <Container
      class='bg-white w-fit gap-12 p-20 rounded-lg lg:flex-row items-center py-10'
      direction='column'
    >
      {
        partnerships.map(({ image, url }) => (
          <a href={url} target='_blank'>
            <img src={buildImageUrl(image).toString()} class='w-28' />
          </a>
        ))
      }
    </Container>
  </Container>
  <Footer />
</Layout>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
</style>
