---
import type { Icons } from "@components/Icon/index.astro";
import Text from "@components/Text/index.astro";
import Icon from "@components/Icon/index.astro";

type Option = {
  label: string;
  href: string;
};
const footerOptions: Option[] = [
  {
    label: "Home",
    href: "/",
  },
  {
    label: "Sobre o Einstein",
    href: "/sobre",
  },
  {
    label: "Nossa equipe",
    href: "/equipe",
  },
  {
    label: "Processo seletivo",
    href: "/processo",
  },
  {
    label: "Resultados",
    href: "/resultados",
  },
  {
    label: "Apoie",
    href: "/apoie",
  },
];

type Contact = {
  href: string;
  icon: Icons;
};
const contacts: Contact[] = [
  {
    href: import.meta.env.INSTAGRAM_URL,
    icon: "instagram",
  },
  {
    href: import.meta.env.FACEBOOK_URL,
    icon: "facebook",
  },
  {
    href: import.meta.env.LINKEDIN_URL,
    icon: "linkedin",
  },
];

const currentYear = new Date().getFullYear();
---

<footer class='flex flex-col items-center justify-center h-72 gap-10'>
  <ul class='flex gap-5'>
    {
      footerOptions.map(({ href, label }) => (
        <li>
          <a href={href}>
            <Text>{label}</Text>
          </a>
        </li>
      ))
    }
  </ul>
  <ul class='flex gap-5'>
    {
      contacts.map(({ href, icon }) => (
        <li>
          <a href={href} target="_blank">
            <Icon name={icon} />
          </a>
        </li>
      ))
    }
  </ul>
  <Text>
    {`© ${currentYear} Einstein Floripa`}
  </Text>
</>
